.dialogForm {
  width: 80% !important;
  margin: auto !important;
  margin-bottom: 20px !important;
}

.inputWptField {
  height: 40px !important;
  padding: 0 12px !important;
  background-color: white !important;
}

.fileUploadButton {
  display: none !important;
}

.listItem {
  margin-bottom: 20px !important;
}

.divider {
  margin-bottom: 10px !important;
}

.toggleButton {
  width: 100px !important;
}
