.gradient{
  display: inline-block !important;
  color:#fff !important;
  padding: 15px 60px !important;
  border-radius:30px !important;
  text-decoration: none !important;
  outline: none !important;
  background: linear-gradient(270deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%) !important;
  background-position: 1% 50% !important;
  background-size: 200% auto !important;
  transition: all 0.3s ease-out !important;
}

.gradient:hover {
  background-position: 99% 50% !important;
}

.gpxForm {
  width: 60% !important;
  max-width: 550px !important;
  margin: auto !important;
}

.inputGpxField {
  height: 40px !important;
  padding: 0 12px !important;
  background-color: white !important;
}

.fileUploadButton {
  display: none !important;
}

.rootImg {
  background-image: url('/sky_00136.jpg') !important;
  background-size: cover !important;
  background-position: center !important;
  height: 100vh !important;
  width: 100vw !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.mapBackground {
  background-color: #73829E !important;
  height: 100vh !important;
  width: 100vw !important;
  justify-content: center !important;
  align-items: center !important;
}

.mapboxArea {
  position: relative !important;
  width: 100% !important;
  height: 600px !important;
  margin-bottom: 16px !important;
}

.container {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-between !important;
}

.button {
  flex: 1 0 auto !important;
  margin: 0.5em !important;
}

.selectContainer {
  flex: 2 0 auto !important;
  margin: 0.5em !important;
}

.gpxAnimateButton {
  height: 50px !important;
  width: 120px !important;
  border-radius: 30px !important;
}

.gpxClearButton {
  height: 50px !important;
  width: 120px !important;
  background-color: #fff !important;
  border-radius: 30px !important;
}

.gpxClearButton:hover {
  background-color: #ffe7e7 !important;
}

.backRootButton {
  color: white !important;
  background-color: #b8b8b8 !important;
  border: none !important;
  border-radius: 30px !important;
  margin-left: 20px !important;
  height: 50px !important;
}
